.percentage {
  position: absolute;
  background-color: var(--secundary-bg-color);
  width: 150px;
  height: 140px;
  z-index: 0;
  left: 0px;
  bottom: 0px;
}

.svg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 150px;
  height: 240px;
}

.per{
    height: 262px;
    width: 145px;
    position: relative;
    background-color: var(--primary-fg-color);
}

.ul-habit-faces{
    list-style: none;
    display: flex;
    gap: 1rem;
    background-color: var(--primary-fg-color);
    color: var(--tertiary-bg-color);
    padding: 1rem;
    border-radius: 15px;
}

.ul-habit-faces>li{
display: flex;
flex-direction: column;
}