.ul-videos {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: scroll;
  background-color: var(--tertiary-color);
  color: var(--tertiary-bg-color);
  height: 200px;
}

.ul-videos > li {
  flex-basis: 20%;
  flex-grow: 0;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--primary-fg-color);
}

.ul-quotes {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: scroll;
  background-color: var(--tertiary-color);
  color: var(--tertiary-bg-color);
  height: 200px;
}

.ul-quotes > li {
  flex: 1 0 100%;
  background-color: var(--primary-fg-color);
  border-radius: 15px;
  padding: 1rem;
}
