.survey-form {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.ul-survey {
  width: 100%;
  padding-inline-start: 0px;
}

.li-survey {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label-survey {
  color: var(--tertiary-bg-color);
  font-weight: bold;
  padding-bottom: .5rem;
}

.label-survey:first-letter {
  text-transform: uppercase;
}

.p-survey {
  font-size: 1.2rem;
}
